

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><Strong><%= pet.name %></Strong></h5>
     <p><%= pet.price %> € par jour</p>

  </div>
</div>
