<div class="d-md-flex d-flex flex-column flex-md-row">
  <div>
    <h2>Our pets</h2>

    <div class="row mx-auto" id="pets">
      <% @pets.each do |pet| %>
        <div class="col-xl-6">
          <%= link_to render(
            partial: "shared/pet", locals: { pet: pet }
          ), pet %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-none d-md-block">

  <div style="min-width: 500px; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
