<h1>New Booking</h1>
<div class="w-50 mx-auto">

  <div class="form-inputs">
    <%= simple_form_for [@pet, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
  </div>

   <div class="form-actions">
       <%= f.submit "Book !", class: "btn btn-primary" %>
    <% end %>
    </div>

</div>
