<h1>Welcome <%= current_user.first_name %></h1>

<h2>My Pets:</h2>
<% if current_user.pets.any? %>
  <div class="d-flex flex-wrap gap-2 m-3">
    <% current_user.pets.each do |pet| %>
    <div class="card p-2" style="width: 200px">
      <h3>
        <%= pet.name %>
      </h3>
      <p>
        <%= pet.price %>€
      </p>
    </div>
    <% end %>
  </div>
<% else %>
  <p>You have no pets yet.</p>
<% end %>

<h2>My Bookings:</h2>
<% if current_user.bookings.any? %>
  <div class="d-flex flex-column">
    <% current_user.bookings.each do |pet| %>
    <div class="card m-4 p-2" style="width: 200px">
      <h3>
        <%= booking.pet %>
      </h3>
    </div>
    <% end %>
  </div>
<% else %>
  <p>You have no bookings yet.</p>
<% end %>
