// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.mapboxgl-map {
  position: sticky !important;
  top: 0 !important;
  z-index: 10;
}
